@use "../abstracts/variables" as vars;

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: vars.$primary-font;
  background-color: vars.$white;
  color: vars.$brandy-red;
  padding: 0.25rem;
  text-align: center;
}
