@use "../abstracts/variables" as vars;

.preparation {
  @include mobile-small {
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;

    border-radius: 0.75rem;
    background: vars.$snow;
  }
}

.preparation__title {
  align-self: stretch;

  color: vars.$dark-raspberry;

  /* Heading S */
  font-family: vars.$primary-font;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: vars.$primary-font-regular;
  line-height: 100%; /* 1.25rem */
}

.preparation-list {
  @include mobile-small {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;

    li {
      // display: flex;
      padding-left: 0.5rem;
      align-items: center;
      gap: 1rem;
      align-self: stretch;
      margin-left: 1rem;

      &::marker {
        display: flex;
        width: 1rem;
        align-items: center;
        gap: 0.5rem;
        align-self: stretch;
        color: vars.$dark-raspberry;
      }

      span {
        flex: 1 0 0;

        color: vars.$wenge-brown;

        /* Body (Regular) */
        font-family: vars.$primary-font;
        font-size: 1rem;
        font-style: normal;
        font-weight: vars.$primary-font-light;
        line-height: 150%;

        b {
          color: vars.$wenge-brown;

          /* Body (Regular) */
          font-family: vars.$primary-font;
          font-size: 1rem;
          font-style: normal;
          font-weight: vars.$primary-font-bold;
          line-height: 150%; /* 1.5rem */
        }
      }
    }
  }
}
