@use "../abstracts/variables" as vars;

body {
  @include mobile-small {
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: vars.$background-color;
  }
}
