@use "../abstracts/variables" as vars;

.card__buttons {
  @include mobile-small {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    align-self: stretch;

    a {
      display: flex;
      padding: 0.75rem;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      align-self: stretch;

      border-radius: 0.5rem;
      background: vars.$grey;
      text-decoration: none;

      color: vars.$white;

      /* Body (Bold) */
      font-size: 0.875rem;
      font-style: normal;
      font-weight: vars.$font-weight-bold;

      &:hover {
        background: vars.$neon-green;
        color: vars.$black;
      }
    }
  }
}
