@use "../abstracts/variables" as vars;

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.card {
  @include mobile-small {
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    border-radius: 0.75rem;
    background: vars.$dark-grey;
  }
}

header {
  @include mobile-small {
    img {
      width: 5.5rem;
      height: 5.5rem;

      border-radius: 62.4375rem;
    }
  }
}

.card__bio {
  @include mobile-small {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    align-self: stretch;

    h1 {
      align-self: stretch;

      color: vars.$white;
      text-align: center;

      /* Heading */
      font-size: 1.5rem;
      font-style: normal;
      font-weight: vars.$font-weight-bold;
    }

    p {
      align-self: stretch;

      color: vars.$neon-green;
      text-align: center;

      /* Body (Bold) */
      font-size: 0.875rem;
      font-style: normal;
      font-weight: vars.$font-weight-bold;
    }
  }
}

.card__description {
  @include mobile-small {
    align-self: stretch;

    color: vars.$white;
    text-align: center;

    /* Body (Regular) */
    font-size: 0.875rem;
    font-style: normal;
    font-weight: vars.$font-weight-standard;
  }
}
